/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 15px;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
  }
  
  .navbar-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .navbar-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease; /* Adding transition effect */
  }
  
  .navbar-links a:hover {
    color: lightblue; /* Change color on hover */
  }
  .navbar-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    transition: color 0.3s ease; /* Smooth transition on link color change */
  }
  
  .navbar-links a:hover {
    color: lightblue;
  }
  
  /* Small screens */
  @media screen and (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      background-color: #333;
      padding: 10px;
    }
  
    .navbar-links.active {
      display: flex;
    }
    .navbar-logo {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      color: white;
    }
    .be{
      font-size: 5px;
    }
    .mars-rover-img {
      width: 30px; /* Adjust width as needed */
      height: auto; /* Maintain aspect ratio */
      margin-right: 10px; /* Spacing between image and text */
    }
    .navbar-links a {
      padding: 10px 0;
      width: 100%;
      text-align: center;
    }
  
    .navbar-toggle {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      cursor: pointer;
      color: white;
    }
  }
  @media screen and (max-width: 300px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      background-color: #333;
      padding: 10px;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-links li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .navbar-toggle {
      display: block;
    }
  }